---
export interface Props {
  as?: 'button' | 'a'
  href?: string
  class?: string
  style?: string
  id?: string
  'data-category'?: string
  arrow?: 'left' | 'right' | 'up' | 'none'
  arrowClass?: string
  responsive?: boolean
}

const {
  as: Component = 'button',
  href,
  class: className,
  arrow = 'none',
  arrowClass,
  responsive = true,
  'data-category': dataCategory,
  ...props
} = Astro.props

const baseStyles =
  'relative group flex items-center justify-center rounded-lg border border-base-content/25 bg-transparent hover:bg-neutral text-base-content duration-200 ease-in-out'

// modify padding logic to consider responsive prop
const paddingClass =
  arrow !== 'none'
    ? responsive
      ? 'md:pl-7 md:pr-3 md:py-1.5 size-9 md:size-auto' // responsive version
      : 'pl-7 pr-3 py-1.5' // non-responsive version
    : 'px-3 py-1.5'

// add type for arrow directions
type ArrowDirection = 'left' | 'right' | 'up' | 'none'

// type the rotation mapping - make sure arrow is typed
const rotationClass = (
  {
    left: '',
    right: 'rotate-180',
    up: 'rotate-90',
    none: '',
  } as const
)[arrow as ArrowDirection]
---

<Component
  href={href}
  class:list={[baseStyles, paddingClass, className]}
  data-category={dataCategory}
  {...props}
>
  {
    arrow !== 'none' && (
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        class:list={[
          'absolute left-2 top-1/2 size-4 -translate-y-1/2 fill-none stroke-current stroke-2 transition-colors duration-300 ease-in-out group-hover:stroke-primary',
          rotationClass,
          arrowClass,
        ]}
      >
        <line
          x1='5'
          y1='12'
          x2='19'
          y2='12'
          class='translate-x-2 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100'
        />
        <polyline
          points='12 5 5 12 12 19'
          class='translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0'
        />
      </svg>
    )
  }
  <div
    class='text-sm transition-colors duration-300 ease-in-out group-hover:text-primary'
  >
    <slot />
  </div>
</Component>
