---
import { Icon } from 'astro-icon/components';

interface Props {
  archive?: string;
}

const { archive = '/images/smpearth-chip-wilbur-msg.png' } = Astro.props;
---

<div class="discord-conversation relative">
    <a href={archive} class="btn btn-square btn-sm btn-ghost absolute top-4 right-4 text-stone-600 hover:text-stone-400 bg hover:bg-[#2e3035] tooltip" data-tip="View original source">
        <Icon name="solar:link-bold" class="size-5"/>
    </a>
    <slot />
</div>
  
  <style>
    .tooltip {
        font-family: 'AlteHaasGrotesk';
        font-weight: normal;
    }
    .discord-conversation {
      background-color: #313338;
      border-radius: 16px;
      padding: 1.5rem;
      margin-bottom: 1rem;
      font-family: 'gg-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  
    .discord-conversation :global(.discord-message) {
      margin: -0.5rem -0.5rem 0.5rem -0.5rem;
      padding: 0.5rem;
      border-radius: 8px;
    }
  
    .discord-conversation :global(.discord-message:hover) {
      background-color: #2e3035;
    }
  
    .discord-conversation :global(.discord-message:last-child) {
      margin-bottom: -0.5rem;
    }
  </style>