@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-base-100 text-base-content;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title {
    @apply text-base-content;
    @apply font-bold;
  }

  .title {
    @apply uppercase;
  }

  article {
    @apply prose prose-headings:font-bold prose-headings:text-neutral-content prose-p:text-base-content prose-code:text-base-content;
    @apply prose-strong:text-neutral-content;
    @apply prose-code:text-base-content;
    @apply prose max-w-full prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-bold prose-p:font-serif;
  }

  #main-content {
    @apply mt-12;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

html {
  overflow-y: scroll;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans subpixel-antialiased;
  @apply flex flex-col;
}

footer {
  @apply py-5 text-sm;
}

.animate {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

.animate-fast {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

.animate-fast.show {
  opacity: 1;
  transform: translateY(0);
}

html #back-to-top-wrapper {
  @apply transition-[opacity,width] duration-300 ease-in-out;
  @apply pointer-events-none w-0 overflow-hidden opacity-0;
  @apply flex-shrink-0;
}

html[data-scrolled='true'] #back-to-top-wrapper {
  @apply pointer-events-auto w-auto overflow-visible opacity-100;
}

button[data-category] {
  transition: opacity 0.2s ease-out;
}

button[data-category]:active {
  opacity: 0.7;
}

.button-container {
  @apply transition-all duration-300 ease-in-out;
}

.button-group {
  @apply flex items-center gap-1;
  @apply transition-all duration-300 ease-in-out;
  @apply min-w-[2.1rem];
}
